/* (C) Ask Learn Share Ltd */
/* version 20190227 */

html {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100% !important;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

ul{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px;
    padding: 0.1em;
    padding-left: 1em;
    text-indent: -1.5em;
}

.als-slide-overlay {
  width: 100%;
  height: 20em;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .als-slide-overlay {
    height: 26em;
  }
}

.als-slide-overlay img {
  object-fit: cover;
  height: 100%;
  box-shadow: 1px 1px #808080 !important;
}

.als-slide-overlay>div {
  position: absolute;
  bottom: 0em;
  margin-right: 0.5em;
  overflow: hidden;
}

.als-slide-overlay>div>div {
  padding: 0.1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.als-slide-overlay>div>div:first-of-type {
  border-radius: 0px;
  box-shadow: none !important;
  max-width: 16em;
}

.als-slide-overlay>div>div:nth-of-type(2) {
  border-radius: 12px;
}

.als-slide-overlay, .als-slide-overlay>div>div:nth-of-type(2) {
  border-radius: 12px;
}

.als-slide-overlay li {
  font-weight: 900 !important;
}

.als-venn div {
  border: 1px #808080 solid;
  box-shadow: 1px 1px #808080;
  text-align: center;
  border-radius: 20px;
  padding: 0.5em;
}

.als-venn p {
  margin: 2em;
}

.als-img-140px {
  object-fit: cover;
  width: 140px !important;
  height: 140px !important;
}

.als-img-96px {
  object-fit: cover;
  width: 96px !important;
  height: 96px !important;
}

.als-img-64px {
  object-fit: cover;
  width: 64px !important;
  height: 64px !important;
}

/*
from https://codepen.io/avelone/pen/Lxgejp
*/

.als-img-frame {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
}

.als-img-frame img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}

.als-text-overlay {
  position: absolute;
  bottom: 0px;
  left: 16px;
  color: white;
}

.als-text-overlay p, .als-text-overlay h6, .als-text-overlay h5, .als-text-overlay h4, .als-text-overlay h3 {
  font-size: 22px !important;
  font-weight: 900 !important;
  text-shadow: 1px 1px #808080 !important;
}

.translate-top {
  transform: translateY(-10%);
}

.translate-bottom {
  transform: translateY(10%);
}

.als-boxed {
  border: 4px solid red;
}

.als-boxed>* {
  border: 3px solid blue;
}

.als-boxed>*>* {
  border: 2px solid green;
  border-style: dotted;
}

.als-boxed>*>*>* {
  border: 1px solid purple;
}

.als-boxed * {
  border: 1px solid grey;
}

md-card-title-media {
  /* to correct Angular Material bug */
  margin-right: 1.5em !important;
}

md-card-content p {
  /* to reduce excessive spacing */
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

md-card md-card-title md-card-title-media .md-media-sm {
  /* to allow for non-square images */
  height: auto;
}

md-card md-card-title md-card-title-media .md-media-md {
  height: auto;
}

md-card md-card-title md-card-title-media .md-media-lg {
  height: auto;
}

md-card md-card-title md-card-title-media .md-media-xl {
  height: auto;
}

.als-main-content {
  width: 800px !important;
  line-height: normal !important;
}

.als-lead {
  font-weight: bold;
  font-size: 120%;
  line-height: 115%;
}

p, ul, ol, table, pre, .md-body-1, .md-body-2 {
  font-size: 100% !important;
}

blockquote, q {
  width: auto;
  max-width: 90%;
  margin-right: 1em;
  margin-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  float: right;
  text-align: right;
  background: LemonChiffon;
  border: none;
  border-right: DarkOrange solid 7px;
  font-size: 90%;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote>span+span {
  font-size: 90%;
}

blockquote>span {
  font-style: normal;
}

blockquote>span:nth-child(1) {
  font-style: italic;
}

blockquote>span:first-letter {
  text-transform: capitalize;
}

blockquote>span:nth-child(2) {
  font-weight: bold;
  display:block;
}

blockquote>span:nth-child(3) {
}

blockquote:before {
  color: DarkOrange;
  content: open-quote;
  font-size: 3em;
  line-height: 0;
  vertical-align: -0.4em;
  margin-right: 0.1em;
}

blockquote>span:after {
  color: DarkOrange;
  content: close-quote;
  font-size: 3em;
  line-height: 0;
  vertical-align: -0.6em;
  margin-left: -0.1em;
}

figcaption, .md-caption {
  font-size: 90% !important;
  line-height: normal !important;
  text-align: center;
  margin-top: .5em;
}

img, video {
  filter: drop-shadow(4px 4px 4px #bbb);
}

.als-font-large {
  font-size: 125% !important;
  line-height: 2 !important;
}

td, th {
  padding: .2em
}

input {
  background: lightyellow;
}

th, p:first-letter, h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter, figcaption:first-letter, .md-caption:first-letter {
  text-transform: capitalize;
}

p.nocap:first-letter {
  text-transform: none;
}

pre {
  padding: 1em;
  color: darkgreen;
}

md-menu-item {
  /* to accomodate icons */
  margin-right: -1em;
}

d md-menu-item p {
  /* in case the md-sidenav is too narrow, maybe obsolete */
  margin-right: car1em !important;
}

/*
for sideNav scrolling
See https://github.com/angular/material/issues/2454
in case the md-sidenav is too narrow
see https://github.com/angular/material/issues/957
other style are from Firebase
*/

md-sidenav {
  /* auto is not working */
  width: auto !important;
  /*this emulates "auto" */
  max-width: 50vw;
  min-width: 1px;
}

/* icons */

.als-icon-menu-pair-icons {
  position: relative;
}

.als-icon-menu-pair-icons md-icon {
  position: absolute;
  top: -12px;
  right: 0px;
}

.als-icon-fab-pair-icons {
  position: relative;
}

.als-icon-fab-pair-icons md-icon {
  position: absolute;
  top: -12px;
  right: -12px;
}

.als-icon-fab-pair-icon1-on {
  animation: als-icon-fab-pair-icon1-on .44s normal both ease-out;
}

.als-icon-fab-pair-icon1-off {
  animation: als-icon-fab-pair-icon1-off .44s normal both ease-in;
}

.als-icon-fab-pair-icon2-on {
  animation: als-icon-fab-pair-icon2-on .44s normal both ease-out;
}

.als-icon-fab-pair-icon2-off {
  animation: als-icon-fab-pair-icon2-off .44s normal both ease-in;
}

@keyframes als-icon-fab-pair-icon1-on {
  0% {
    transform: rotate(-180deg) scale(0);
  }
  50% {
    transform: rotate(-90deg) scale(0.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes als-icon-fab-pair-icon1-off {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(0.2);
  }
  100% {
    transform: rotate(-180deg) scale(0);
  }
}

@keyframes als-icon-fab-pair-icon2-on {
  0% {
    transform: rotate(180deg) scale(0);
  }
  50% {
    transform: rotate(90deg) scale(0.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes als-icon-fab-pair-icon2-off {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(0.2);
  }
  100% {
    transform: rotate(180deg) scale(0);
  }
}

@keyframes als-icon-fab-pair-icon1-on {
  0% {
    transform: rotate(-180deg) scale(0);
  }
  50% {
    transform: rotate(-90deg) scale(0.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes als-icon-fab-pair-icon1-off {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(0.2);
  }
  100% {
    transform: rotate(-180deg) scale(0);
  }
}

@keyframes als-icon-fab-pair-icon2-on {
  0% {
    transform: rotate(180deg) scale(0);
  }
  50% {
    transform: rotate(90deg) scale(0.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes als-icon-fab-pair-icon2-off {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(0.2);
  }
  100% {
    transform: rotate(180deg) scale(0);
  }
}

/* random rotations */

.als-random-rotate-type:nth-of-type(1) {
  transform: rotate(-0.7deg);
}

.als-random-rotate-type:nth-of-type(2n) {
  transform: rotate(0.8deg);
}

.als-random-rotate-type:nth-of-type(3n) {
  transform: rotate(-0.9deg);
}

.als-random-rotate-type:nth-of-type(4n) {
  transform: rotate(0.7deg);
}

.als-random-rotate-type:nth-of-type(5n) {
  transform: rotate(0.2deg);
}

.als-random-rotate-type:nth-of-type(6n) {
  transform: rotate(-0.6deg);
}

.als-random-rotate li:nth-child(1) {
  transform: rotate(-0.7deg);
}

.als-random-rotate li:nth-child(2n) {
  transform: rotate(0.8deg);
}

.als-random-rotate li:nth-child(3n) {
  transform: rotate(-0.9deg);
}

.als-random-rotate li:nth-child(4n) {
  transform: rotate(0.7deg);
}

.als-random-rotate li:nth-child(5n) {
  transform: rotate(0.2deg);
}

.als-random-rotate li:nth-child(6n) {
  transform: rotate(-0.6deg);
}

/* developed for SecuoS */

.als-font-noto {
  font-family: 'Noto Sans';
}

.als-font-roboto {
  font-family: 'Roboto';
}

/* CSS resets */

.als-pullquote {
  xxborder: solid 1px #808080;
  xxborder-radius: 10px 10px 10px 1px;
  font-weight: 1200 !important;
  box-shadow: 1px 1px #808080 !important;
  background: #fefefe;
  width: 40%;
  max-width: 15em;
  float: right;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0.2em;
  padding-top: 0em;
  padding-bottom: : 0em;
  text-align: center;
  font-style: italic;
  zzbackground-color: white;
}

thead {
  font-weight: bold !important;
}

th, td {
  padding: .5em;
}

h5 {
  font-weight: bolder !important;
}

p {
  /* to force line spacing inside md-list */
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

h6 {
  display: inline;
  font-weight: bold;
}

h5:focus, img:focus, div:focus {
  outline: none;
  border: 0;
}

/* Material Design corrections */

md-divider {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

md-tooltip {
  /* to allow multi-line tooltips */
  font-size: 14px !important;
  height: auto;
  height: auto !important;
  line-height: auto !important;
}

.md-caption {
  text-align: center !important;
  margin-bottom: 1em !important;
}

.card-media {
  /* to avoid card titles to touch the image */
  /* see https://material.angularjs.org/latest/demo/card */
  padding-left: 1em !important;
}

/* md-list directive */

md-list-item.md-3-line .md-list-item-text h3 {}

md-list-item h3, md-list-item h4, md-list-item p {
  text-overflow: ellipsis !important;
}

.md-list-item-text {
  min-width: 75% !important;
  max-width: 75% !important;
  /* md-list seems to overflow internal divs */
  padding-right: 4em !important;
}

.als-list-item-image {
  text-align: center !important;
  min-width: 25% !important;
}

.als-list-item-image div {
  width: 100%;
}

.als-list-item-image div img {
  width: 100%;
  height: 96px;
  object-fit: cover;
}

.als-list-item-image, .md-list-item-text {
  margin: 1em !important;
}

md-list-item div {
  /* reset all div elements */
  margin: 0px !important;
  padding: 0px !important;
}

md-list-item>div>div>div {
  /* this may not point to the correct div if the click attribute is removed */
  width: 100%
}

md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar {
  max-width: 40px;
  max-height: 40px;
  height: auto;
  width: auto;
}

/* special features */

.als-image-als-image-right-float {
  float: right;
  margin: 1em;
  margin-top: 0.8em;
  margin-bottom: 0em;
}

.als-image-right-float img {
  box-shadow: 1px 1px #808080 !important;
}

.als-banner-overlay {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.als-banner-overlay img {
  /* object-fit does not seen to work */
  /* parallax with object-position */
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.als-banner-overlay p, .als-banner-overlay h6, .als-banner-overlay h5, .als-banner-overlay h4, .als-banner-overlay h3 {
  position: absolute;
  bottom: 0.1em;
  left: 0.4em;
  color: white !important;
  font-size: 30px !important;
  font-weight: 900 !important;
  text-shadow: 1px 1px #808080 !important;
  text-align: left;
}

.als-lead {
  font-weight: bolder;
  font-size: 105% !important;
  line-height: 140% !important;
}

/* animations */

#als-scrabble, #als-scrabble span, #als-scrabble div {
  transition: all .5s;
  font-weight: bold !important;
  width: auto;
}

#als-scrabble {
  position: relative;
  /* to preserve left alignment */
  transform-origin: left center;
}

#als-scrabble span, #als-scrabble div {
  display: inline;
}

#als-scrabble span {
  position: absolute;
}

#als-scrabble>span>span>span {
  /* to avoid word wrapping */
  width: 300px;
}

/* nested span elements allow to create a vertical structure */

.als-scrabble-on {
  transform: scale(.8);
}

.als-scrabble-off {
  transform: scale(0.75);
}

.als-scrabble-off div {
  /* to ensure propagation to each div */
  color: orange !important;
}

.als-scrabble-on>span {
  top: -3.15em;
  left: 0%;
}

.als-scrabble-on>span>span {
  top: 1em;
  left: 1.6em;
}

.als-scrabble-on>span>span>span {
  top: 1em;
  left: 0%;
}

.als-scrabble-off>span {
  top: -1.5em;
  left: 0%;
}

.als-scrabble-off>span>span {
  top: 0em;
  left: 100%;
}

.als-scrabble-off>span>span>span {
  top: 0em;
  left: 100%;
}

#als-kicklogo {
  position: absolute;
  width: 96px;
  top: 6.5em;
  right: 1em;
  transition: all .6s;
  transform-origin: center center;
}

.als-kicklogo-on {
  opacity: 1;
  /* the order of the transitions is important */
  transform: translate(0px, 0px) scale(1) rotate(0deg);
}

.als-kicklogo-off {
  opacity: 0.0;
  transform: translate(100px, -20px) scale(0) rotate(10deg);
}

#als-navbar {
  position: fixed;
  z-index: 80 !important;
  transition: all .2s;
  transform-origin: top center;
}

.als-navbar-on {
  opacity: 1;
}

.als-navbar-off {
  opacity: 0;
}

#als-fabtop, #als-fabmenu {
  /* to control the layering of fabs, menus and logos */
  z-index: 90 !important;
  position: fixed;
  transition: all .3s;
  transform-origin: center top;
}

.als-fabmenu-on, .als-fabtop-on {
  opacity: 1;
  transform: scale(1);
}

.als-fabmenu-off, .als-fabtop-off {
  opacity: 0;
  transform: scale(0.2);
}

.als-image-right-float {
  max-width: 140px;
  float: right;
  margin: 1em;
  margin-top: 0.8em;
  margin-bottom: 0em;
}

.als-image-right-float img {
  box-shadow: 1px 1px #808080 !important;
}

.als-swatch {
  /* background for a text to show its colours */
  font-weight: bold;
  background: white;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 2px 2px #c0c0c0 !important;
}

.als-code-normal {
  /* to prevent blue & grey default colours */
  color: black;
  background: none;
}
