<!--(C) Ask Learn Share Ltd -->

<md-dialog aria-label="Help" ng-init="hhh={lead: 'lead'}">
  <md-dialog-content>
    <div class="md-dialog-content">

      <div ng-if="true">
        <pre>{{messages | json}}</pre>
      </div>

      <als-text-selection data-object="hhh" data-filter="'all'"></als-text-selection>

      <h4 class="md-title">Tips</h4>
      <p>There are four ways to navigate</p>
      <ol>
        <li>
          click or tap any of the tabs
        </li>
        <li>
          <span>select from the</span>
          <md-icon class="md-primary">
            <i class="material-icons">menu</i>
          </md-icon>
          <span>menu</span>
        </li>
        <li>
          use arrow keys and Enter
        </li>
        <li>
          or, swipe horizontally
        </li>
      </ol>
      <p></p>
      <p>
        <span>Use</span>
        <md-icon class="md-primary">
          <i class="material-icons">format_size</i>
        </md-icon>
        <span>and</span>
        <md-icon class="md-primary">
          <i class="material-icons">text_fields</i>
        </md-icon>
        <span>to change the font size.</span>
      </p>

    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <!-- see "answer" in the DialogController -->
    <md-button class="md-primary" ng-click="answer('Got it')">
      Got it!
    </md-button>
  </md-dialog-actions>

</md-dialog>
