<!--(C) Ask Learn Share Ltd -->
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <!-- default title, is replaced in Angular Config -->
    <title>Ask Learn Share</title>
    <!-- Utilities -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Material Design -->
    <link rel="stylesheet prefetch" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.7/angular-material.css">
    <link rel="stylesheet prefetch" href="https://material.angularjs.org/1.1.7/docs.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--
    -->
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- Ask Learn Share -->
    <link rel="stylesheet" href="https://rawgit.com/vandersijp/TabApp/master/css/als.css" />
    <!--
    <link rel="stylesheet" href="git/css/als.css" />
    -->
    <!-- Temporary styles -->
    <style type="text/css">

    img{max-width:100%!important}
    img{vertical-align:middle}
    img{border:0}

    </style>
</head>

<body ng-app="app" ng-controller="appController as appCtrl" layout="column" layout-align="start center" id="alertContainer">

    <md-content class="als-main-content" layout="column" ng-cloak>

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout="row">
                <als-icon-fab-pair data-class="'md-fab md-mini md-primary'" data-toggle="isSidenavOpen" data-icon1="'menu'" data-icon2="'arrow_back'"> </als-icon-fab-pair>
                <h1 class="md-toolbar-tools">{{appCtrl.appData.version.title}}</h1>

                <als-icon-fab-pair data-class="'md-icon-button'" data-toggle="appCtrl.fontLarge" data-icon1="'format_size'" data-icon2="'text_fields'"> </als-icon-fab-pair>

                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="more options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon>
                            <i class="material-icons">more_vert</i>
                        </md-icon>
                    </md-button>
                    <md-menu-content>

                        <md-menu-item>
                            <md-button aria-label="font size" ng-click="appCtrl.fontLarge=!appCtrl.fontLarge">
                                <als-icon-menu-pair data-toggle="appCtrl.fontLarge" data-label1="'smaller'" data-label2="'larger'" data-icon1="'format_size'" data-icon2="'text_fields'"></als-icon-menu-pair>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item ng-repeat="alert in appCtrl.appProps.alerts" ng-hide="alert.hide">
                            <md-button aria-label="got it" ng-click="appCtrl.alertAny($event, alert.name)" ng-disabled="alert.disabled">
                                <div layout="row" flex>
                                    <p flex>{{alert.label}}</p>
                                    <md-icon>
                                        <i class="material-icons">{{alert.icon}}</i>
                                    </md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>

            </div>
        </md-toolbar>

        <section layout="column">

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-open="isSidenavOpen">
                <md-content ng-controller="LeftCtrl">

                    <md-toolbar md-toolbar md-scroll-shrink>
                        <div class="md-toolbar-tools" layout="row">
                            <als-icon-fab-pair data-class="'md-fab md-mini md-primary'" data-toggle="$parent.isSidenavOpen" data-icon1="'menu'" data-icon2="'arrow_back'"> </als-icon-fab-pair>
                            <h1 class="md-toolbar-tools"></h1>
                        </div>
                    </md-toolbar>

                    <md-menu-content>
                        <md-menu-item ng-repeat="tab in appCtrl.appData.tabs" ng-init="menuSub = appCtrl.menuSub(appCtrl.appData.tabs, $index)">
                            <md-button aria-label="menu sub-item" ng-class="{'md-primary':menuSub.isSub}" ng-click="$parent.$parent.selectedIndex=$index; toggleLeft();">
                                <div layout="row" flex>
                                  <span ng-if="menuSub.isSub" ng-bind-html="menuSub.prefix"></span>
                                    <p flex>{{tab.id}}</p>
                                    <md-icon class="md-accent"><i class="material-icons">{{tab.icon}}</i></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>

                    <md-divider></md-divider>

                    <md-content layout="column" layout-align="top center" layout-margin>
                        <p class="md-caption">&copy;&nbsp;{{appCtrl.appData.version.copyright}}</p>
                        <p class="md-caption">{{alsDate.now() | date:'MMMM yyyy'}}</p>
                        <p class="md-caption">vs 4</p>
                    </md-content>

                </md-content>
            </md-sidenav>

            <md-content ng-class="{'als-font-large' : appCtrl.fontLarge}">
                <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-swipe-content>
                    <!-- first tabs only -->
                    <md-tab ng-repeat="tab in appCtrl.appData.tabs" ng-if="$index < appCtrl.appData.tabs.length-1" label="{{tab.id}}"  ng-init="appCtrl.appData.tabCards=appCtrl.tabsToCards(appCtrl.appData.tabs, 'headline', 'title');">
                        <als-tab-content data-data="appCtrl.appData" data-tab="tab" data-props="appCtrl.appProps" data-cuts="appCtrl.shortCuts"></als-tab-content>

                        <md-divider></md-divider>

                        <md-content layout="column" layout-align="top center" layout-margin>
                            <p class="md-caption">&copy;&nbsp;{{appCtrl.appData.version.copyright}}</p>
                            <md-button class="md-raised md-primary" ng-click="$parent.$parent.selectedIndex=appCtrl.appData.tabs.length-1">contact</md-button>
                        </md-content>

                    </md-tab>
                    <!-- last tab only -->
                    <md-tab label="{{appCtrl.appData.tabs[appCtrl.appData.tabs.length-1]['id']}}">

                        <als-tab-content data-data="appCtrl.appData" data-tab="appCtrl.appData.tabs[appCtrl.appData.tabs.length-1]" data-props="" data-cuts=""></als-tab-content>
                        <!-- controller should be obsolete once variables can be set -->
                        <div ng-controller="alsContactController as alsContactCtrl">
                            <als-contact-form data-message="appCtrl.appData.message" data-status="alsContactCtrl.status" data-props="appCtrl.appProps"></als-contact-form>
                            <div layout="column" layout-align="center center" layout-margin ng-show="alsContactCtrl.status.open" class="g-recaptcha" data-sitekey="6LfWQykTAAAAAEyKqcTgnMrUCdiCVIveggsB4XfU"></div>
                        </div>

                    </md-tab>
                </md-tabs>
            </md-content>

        </section>
    </md-content>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <!-- Material Design -->
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.7/angular-material.js"></script>
    <!-- FireBase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <!-- Ask Learn Share -->
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/icon/alsIconModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/figure/alsFigureModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/template/alsTemplateModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/list/alsListModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/text/alsTextModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/card/alsCardModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/access/alsAccessModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/contact/alsContactModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/app/tab/alsTabModule.js"></script>
    <script src="https://rawgit.com/vandersijp/TabApp/master/appModule.js"></script>
    <!--
    <script src="git/appModule.js"></script>
    -->
</body>

</html>
