<!--(C) Ask Learn Share Ltd -->
<div ng-click="toggle=!toggle">
    <!-- aria label not used  -->
    <md-button aria-label="" ng-class="class" ng-disabled="disabled">

        <div layout="row" flex layout-align="center center">

            <p ng-if="false" flex>x</p>

            <span class="als-icon-fab-pair-icons">

            <md-icon class="als-icon-fab-pair-icon1-on" ng-class="{'als-icon-fab-pair-icon1-off': toggle}">
            <i class="material-icons">{{icon1}}</i>
            </md-icon>

            <md-icon class="als-icon-fab-pair-icon2-on" ng-class="{'als-icon-fab-pair-icon2-off': !toggle}">
            <i class="material-icons">{{icon2}}</i>
            </md-icon>

          </span>

        </div>

    </md-button>
</div>
