<!--(C) Ask Learn Share Ltd -->
<div layout="row">
    <md-button aria-label="language" ng-show="lang==lang1" class="md-icon-button" ng-click="lang=lang1">
        <img class="flag" title="{{lang1}}" ng-src="'https://lipis.github.io/flag-icon-css/flags/4x3/'+lang1+'.svg'" alt="{{lang1}}">
    </md-button>
    <md-button aria-label="language" ng-show="lang==lang2" class="md-icon-button" ng-click="lang=lang2">
        <img class="flag" title="{{lang2}}" ng-src="'https://lipis.github.io/flag-icon-css/flags/4x3/'+lang2+'.svg'" alt="{{lang2}}">
    </md-button>
</div>
