<!--(C) Ask Learn Share Ltd -->
<style type="text/css">
    .als-icon-fab-pair-icons {
        position: relative;
    }

    .als-icon-fab-pair-icons md-icon {
        position: absolute;
        xxtop: -12px;
        right: -12px;
        xxright: -28px;
    }

    .als-icon-fab-pair-icon1-on {
        -webkit-animation: als-icon-fab-pair-icon1-on .44s normal both ease-out;
        animation: als-icon-fab-pair-icon1-on .44s normal both ease-out;
    }

    .als-icon-fab-pair-icon1-off {
        -webkit-animation: als-icon-fab-pair-icon1-off .44s normal both ease-in;
        animation: als-icon-fab-pair-icon1-off .44s normal both ease-in;
    }

    .als-icon-fab-pair-icon2-on {
        -webkit-animation: als-icon-fab-pair-icon2-on .44s normal both ease-out;
        animation: als-icon-fab-pair-icon2-on .44s normal both ease-out;
    }

    .als-icon-fab-pair-icon2-off {
        -webkit-animation: als-icon-fab-pair-icon2-off .44s normal both ease-in;
        animation: als-icon-fab-pair-icon2-off .44s normal both ease-in;
    }

    @-webkit-keyframes als-icon-fab-pair-icon1-on {
        0% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes als-icon-fab-pair-icon1-on {
        0% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @-webkit-keyframes als-icon-fab-pair-icon1-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
    }

    @keyframes als-icon-fab-pair-icon1-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
    }

    @-webkit-keyframes als-icon-fab-pair-icon2-on {
        0% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes als-icon-fab-pair-icon2-on {
        0% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @-webkit-keyframes als-icon-fab-pair-icon2-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
    }

    @keyframes als-icon-fab-pair-icon2-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
    }

    @keyframes als-icon-fab-pair-icon1-on {
        0% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes als-icon-fab-pair-icon1-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(-90deg) scale(0.2);
            transform: rotate(-90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
        }
    }

    @keyframes als-icon-fab-pair-icon2-on {
        0% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
    }

    @keyframes als-icon-fab-pair-icon2-off {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(90deg) scale(0.2);
            transform: rotate(90deg) scale(0.2);
        }
        100% {
            -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
        }
    }
</style>


<md-button ng-click="toggle=!toggle" aria-label="label" ng-class="class" ng-disabled="disabled">

    <div layout="row" flex layout-align="center center">

        <p ng-if="toggle" flex>{{label1}}</p>
        <p ng-if="!toggle" flex>{{label2}}</p>

        <span class="als-icon-fab-pair-icons">

          <md-icon class="als-icon-fab-pair-icon1-on" ng-class="{'als-icon-fab-pair-icon1-off': toggle}">
          <i class="material-icons">{{icon1}}</i>
          </md-icon>

          <md-icon class="als-icon-fab-pair-icon2-on" ng-class="{'als-icon-fab-pair-icon2-off': !toggle}">
          <i class="material-icons">{{icon2}}</i>
          </md-icon>

        </span>

    </div>

</md-button>
