<!--(C) Ask Learn Share Ltd -->
<md-button>
    <div layout="row" flex layout-align="center center" ng-click="toggle=!toggle">

      <p ng-if="false" flex>x</p>

      <span class="als-icon-fab-pair-icons">

        <md-icon class="als-icon-fab-pair-icon1-on" ng-class="{'als-icon-fab-pair-icon1-off': toggle}">
        <i class="material-icons">{{icon1}}</i>
        </md-icon>

        <md-icon class="als-icon-fab-pair-icon2-on" ng-class="{'als-icon-fab-pair-icon2-off': !toggle}">
        <i class="material-icons">{{icon2}}</i>
        </md-icon>

      </span>

    </div>
</md-button>
