<!--(C) Ask Learn Share Ltd -->
<style type="text/css">
</style>

<als-text-header data-object="invoice"></als-text-header>

<div layout="column" layout-align="start center" ng-init="inv='dw01'; cust='dw'">

  <p>
    version 63
  </p>

  <p>
    {{inv}} | {{cust}} | {{invoice.customers[cust].name}}
   </p>

<div ng-init="records=invoice.invoices.records; filter=invoice.invoices.filters.summary">

<pre>{{ invoice.invoices.records | json }}</pre>

   <table>
     <thead style="font-size: 80%;">
       <tr>
         <th ng-repeat="h in filter">
           {{h}}
         </th>
       </tr>
     </thead>
     <tbody style="font-size: 80%;">
       <tr ng-repeat="r in invoice.invoices.records">
         <td ng-repeat="h in invoice.invoices.filters.summary" ng-if = "r.invoice==inv">
           {{r[h]}}
         </td>
         <td>
           {{invoice.currency}}GGBB
         </td>
       </tr>
     </tbody>
   </table>

</div>

  <table ng-init="cust = 'dw'">
    <thead>
      <tr>
        <th ng-repeat="h in invoice.jobs.filters.list">
          {{h}}
        </th>
      </tr>
    </thead>
    <tbody style="font-size: 80%;">
      <tr ng-repeat="r in invoice.jobs.records">
        <td ng-repeat="h in invoice.jobs.filters.list">
          {{r[h]}}
        </td>
        <td>
          {{invoice.currency}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
