<!--(C) Ask Learn Share Ltd -->
<style type="text/css">
</style>

<div layout="column" layout-align="start center">
  <h3>{{invoice.tab}}</h3>

  <p>
    45
  </p>

  <p>
    {{invoice.customers.dw.name}}
   </p>

  <table ng-init="cust = 'dw'">

    <thead>
      <tr>
        <th ng-repeat="h in invoice.jobs.filter">
          {{h}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in invoice.jobs.records">
        <td ng-repeat="h in invoice.jobs.filters.list">
          {{r[h]}}
        </td>
        <td>
          {{invoice.currency}}
        </td>
      </tr>
      <tr>
        <td ng-repeat="h in invoice.filters.list">
          <span ng-if="$index == invoice.filter.length-2">Total</span>
          <span ng-if="$index == invoice.filter.length-1">{{invoice.total}}</span>
          <span></span>
        </td>
        <td>
          {{invoice.currency}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
