<!--(C) Ask Learn Share Ltd -->
<style type="text/css">

</style>
<md-content layout="column" layout-margin>

    <div layout="column" layout-align="center center" ng-hide="data.loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <h3 ng-if="tab.header" class="md-headline md-accent">{{tab.header}}</h3>
    <p ng-if="tab.summary">{{tab.summary}}</p>
    <als-access-form ng-show="tab.id==data.system.access.tab" data-access="data.system.access"></als-access-form>

    <div layout="column" layout-align="start center" ng-show="(tab.id!=data.system.access.tab || $parent.appCtrl.codeCompare(data.system.access.entered, data.system.access.code))">
        <als-figure-photo-main ng-repeat="i in data.images" ng-if="i.tab==tab.id" data-image="i" data-path="data.system.paths.img"></als-figure-photo-main>
        <als-list-single ng-repeat="l in data.lists" ng-if="l.tab==tab.id" data-list="l"></als-list-single>
        <als-list-table ng-repeat="t in data.tables" ng-if="t.tab==tab.id" data-table="t"></als-list-table>
    </div>

</md-content>
