<!--(C) Ask Learn Share Ltd:-->
<style type="text/css">
    .hex,
    .hex span {
        text-align: center;
        font-size: 80%;
    }

    .editable form {
        /* to avoid jumping heights */
        height: .5em;
    }
</style>

<div layout="column" layout-align="start center">
    <h4 ng-if="table.header" class="md-title">{{table.header}}</h4>

    <div layout="column" ng-switch="table.type">

        <div ng-switch-when="mdlist" layout="column">
            <md-content>
                <md-list flex>
                    <md-subheader ng-if="false" class="md-no-sticky">3 line item (with hover)</md-subheader>
                    <md-list-item class="md-3-line md-long-text" ng-repeat="item in table.records" ng-click="">
                        <img ng-src="{{cuts.ava+item.name}}.png" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <p ng-class="{'nocap': f=='email'}" ng-repeat="f in table.filter">{{ item[f] }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>


        <div ng-switch-when="editable" layout="column" ng-init="active=table.records; bin=[]; e = {'name': '','expression': '','open': true,'test': 'test'};">
            <div layout="row" layout-align="center">
                <md-button arria-label="" class="md-raised">
                    import
                </md-button>
                <md-button aria-label="" class="md-raised">
                    export
                </md-button>
            </div>

            <md-card layout-padding>

                <div layout="column">
                    <div layout="row" layout-align="space-between center">
                        <h4 class="md-title">Active</h4>
                        <!-- track by in ng-repeat to keep collection up-to-date -->
                        <md-button title="add a new expression" arria-label="" class="md-fab md-mini md-accent" ng-click="active.unshift(e);">
                            <md-icon>
                                <i class="material-icons">add</i>
                            </md-icon>
                        </md-button>
                    </div>

                    <div ng-if="!active.length">
                        <span>(empty)</span>
                    </div>
                </div>

                <div class="editable" layout="row" ng-repeat="(k,v) in active track by $index" layout-align="center center">

                    <div style="width: 50px">
                        <span ng-if="!v.open">{{v.name}}</span>
                        <form ng-if="v.open">
                            <input ng-model="v.name" size="3" placeholder="name">
                        </form>
                    </div>

                    <div flex ng-title="{{Math.eval(v.expression)}}" title="eval function to be fixed">
                        <span ng-if="!v.open">{{v.expression}}</span>
                        <form ng-if="v.open">
                            <input ng-model="v.expression" size="17" placeholder="expression">
                        </form>
                    </div>
                    <div style="width: 150px" layout="row" layout-align="end">

                        <!-- Edit -->
                        <als-icon-fab-pair title="edit" data-class="'md-icon-button'" data-toggle="v.open" data-icon1="'edit'" data-icon2="'check'"></als-icon-fab-pair>

                        <!-- Bin -->
                        <md-button arria-label="" title="bin" class="md-icon-button" ng-click="bin.unshift(active[$index]); active.splice($index, 1);">
                            <md-icon>
                                <i class="material-icons">delete</i>
                            </md-icon>
                        </md-button>

                    </div>
                </div>
            </md-card>

            <md-card layout-padding>

                <div layout="column">
                    <div layout="row" layout-align="space-between center">
                        <h4 class="md-title">Bin</h4>
                    </div>

                    <div ng-if="!bin.length">
                        <span>(empty)</span>
                    </div>
                </div>

                <div layout="row" ng-repeat="(k,v) in bin track by $index" layout-align="center center">

                    <div style="width: 50px">
                        <span>{{v.name}}</span>
                    </div>
                    <div flex ng-title="{{eval(v.expression)}}" title "to be fixed">
                        <span>{{v.expression}}</span>
                    </div>
                    <div style="width: 150px" layout="row" layout-align="end">

                        <!-- Restore -->
                        <md-button arria-label="" title="restore" class="md-icon-button" ng-click="active.unshift(bin[$index]); bin.splice($index, 1);">
                            <md-icon>
                                <i class="material-icons">restore</i>
                            </md-icon>
                        </md-button>

                        <!-- Delete forever-->
                        <md-button arria-label="" title="delete forever" class="md-icon-button" ng-click="bin.splice($index, 1);">
                            <md-icon>
                                <i class="material-icons">delete_forever</i>
                            </md-icon>
                        </md-button>

                    </div>
                </div>
            </md-card>

            <div title="show the expressions in a JSON format" layout="row" layout-align="center" layout-padding>
                <md-checkbox ng-model="showJSON">Show JSON</md-checkbox>
            </div>

            <div ng-show="showJSON" layout-padding layout="column" layout-align="center center">
                <h4 class="md-title">Active</h4>
                <pre>{{active | json}}</pre>
                <h4 class="md-title">Bin</h4>
                <pre>{{bin | json}}</pre>
            </div>
        </div>

        <table ng-switch-when="basic">
            <thead>
                <tr>
                    <th ng-repeat="h in table.filter">
                        <span>{{h}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in table.records">
                    <td ng-repeat="h in table.filter">
                        <span>{{r[h]}}yy</span>
                    </td>
                </tr>
            </tbody>
        </table>


        <table ng-switch-default>

            <thead>
                <tr>
                    <th ng-repeat="h in table.filter">
                        <span ng-if="h!='icon'">{{h}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in table.records">
                    <td ng-repeat="h in table.filter" ng-switch="h" class="center">

                        <span ng-switch-when="hex" layout="row" layout-align="center center" class="hex">

                          <span flex="25">{{r[h]}}</span>

                        <span style="background: #{{r[h]}}; font-size: 100%" flex="20">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span>

                        <span flex="10">
                          &nbsp;
                          </span>

                        <span style="background: #fbe88b; font-size: 100%" flex="20">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span>

                        <span flex="25">fbe88b</span>

                        </span>

                        <span ng-switch-when="icon">
                          <md-icon>
                            <i class="material-icons">{{r[h]}}</i>
                          </md-icon>
                        </span>

                        <span ng-switch-default>{{r[h]}}</span>

                    </td>
                </tr>
            </tbody>
        </table>

        <p class="md-caption" ng-if="table.caption">{{table.caption}}</p>
    </div>
</div>
