<!--(C) Ask Learn Share Ltd -->
<style type="text/css">
    div.als-list-capfirst div div:first-letter {
        text-transform: uppercase;
    }

    .strip,
    .wrap,
    .stamp,
    .contact {
        border: 1px solid #eee;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #bbb;
        font-size: 80%;
        padding: .4em;
        text-align: center;
    }

    .contact {
        text-align: left;
        background: white;
    }

    .stamp {
        font-size: 120%;
        font-weight: bold;
        background: white;
    }
</style>

<div class="als-list-capfirst" ng-switch="list.type" layout="column" layout-align="start center">
  <h4 ng-if="list.header" class="md-title">{{list.header}}</h4>
    <!--stamp:-->
    <div ng-switch-when="stamp" layout="row" layout-margin layout-wrap layout-align="center center">
        <div class="stamp" ng-repeat="p in list.points" ng-class="list.style">
            {{p}}
        </div>
    </div>
    <!--wrapped:-->
    <div ng-switch-when="wrap" layout="row" layout-margin layout-wrap layout-align="center center">
        <div class="wrap" ng-repeat="p in list.points" ng-class="list.style">{{p}}</div>
    </div>
    <!--column:-->
    <div ng-switch-when="strip" layout="column" layout-margin layout-align="center center">
        <div class="strip" ng-repeat="p in list.points" ng-class="list.style">{{p}}</div>
    </div>
    <!--link objects:-->
    <div ng-switch-when="contact" layout="row" layout-align="center center" layout-margin layout-padding layout-wrap>
        <div class="contact" ng-repeat="p in list.points" ng-class="list.style">
            {{p.name}}</br>
            {{p.email}}</br>
            {{p.tel}}
        </div>
    </div>
    <!--link objects:-->
    <div ng-switch-when="link" layout="column" layout-align="center center">
        <ol style="display: inline-block;">
            <li ng-repeat="p in list.points" ng-class="list.style">
                <a href="{{p.link}}" target="_blank">{{p.description}}</a>
            </li>
        </ol>
    </div>
    <!--bullets:-->
    <div ng-switch-default layout="column" layout-align="center center">
        <ul style="display: inline-block;">
            <li ng-repeat="p in list.points" ng-class="list.style">{{p}}</li>
        </ul>
    </div>
</div>
