<!--(C) Ask Learn Share Ltd:-->

<style type="text/css">
    td, th {
        padding: .2em
    }
</style>

<md-card>
<div layout="column">
    <table>
        <thead>
            <tr>
                <th ng-repeat="h in table.filter">
                    <span ng-if="h!='icon'">
                {{h}}
            </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in table.records">
                <td ng-repeat="h in table.filter" ng-switch="h">

                    <span ng-switch-when="hex" layout="row">
                      <span flex="25">
                      {{r[h]}}
                      &nbsp;
                    </span>

                      <span style="background: #{{r[h]}}; font-size: 100%" flex="25">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </span>

                      &nbsp;

                      <span style="background: #fbe88b; font-size: 100%" flex="25">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </span>

                      <span flex="25">
                      &nbsp;
                      fbe88b
                    </span>

                  </span>

                    <span ng-switch-when="icon">
                      <md-icon>
                        <i class="material-icons">{{r[h]}}</i>
                      </md-icon>
                    </span>

                    <span ng-switch-default>
                      {{r[h]}}
                    </span>

                </td>
            </tr>
        </tbody>
    </table>
    <p class="md-caption" ng-if="table.caption">{{table.caption}}</p>
</div>
</md-card>
