<!--(C) Ask Learn Share Ltd -->
<div ng-switch="playlist.type" layout="column">
    <!-- typw xxx -->
    <div ng-switch-when="xxx">
        <!-- html  -->
    </div>

    <!-- default -->
    <div ng-switch-default>

        <ol ng-repeat="c in playlist.videos">
            <li class="md-body-1">{{c.title}} - {{c.artist}}</li>
        </ol>

        <md-card ng-repeat="c in playlist.videos" ng-init="c.subhead=c.artist">

            <md-card-avatar>
                <img class="xxmd-user-avatar" ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}">
            </md-card-avatar>

            <md-card-header ng-if="c.title">
                <md-card-avatar>
                    <img class="xxmd-user-avatar" ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{c.title}}</span>
                    <span ng-if="c.subhead" class="md-subhead">{{c.subhead}}</span>
                </md-card-header-text>
            </md-card-header>


            <md-card-header ng-if="c.title">
                <md-card-header-text>
                    <span class="md-title">{{c.title}}</span>
                    <span ng-if="c.subhead" class="md-subhead">{{c.subhead}}</span>
                </md-card-header-text>
                <md-card-header-media>
                    <div class="md-media-sm card-media">
                        <img class="xxmd-user-avatar" ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}">
                    </div>
                </md-card-header-media>
            </md-card-header>


            <md-card-title ng-if="c.title">
                <md-card-title-text>
                    <span class="md-title">{{c.title}}</span>
                    <span ng-if="c.subhead" class="md-subhead">{{c.subhead}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img class="xxmd-user-avatar" ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}">
                    </div>
                </md-card-title-media>
            </md-card-title>

            <md-card-content ng-if="c.lyrics">
                <p class="md-body-1" ng-repeat="part in c.lyrics">
                    <div ng-repeat="line in part">
                        x {{line}}
                        <br ng-if="!$last"></br>
                    </div>

            </md-card-content>

            <md-card-footer ng-if="c.footer" layout="row" layout-align="{{playlist.footeralign}}">
                <span>{{c.footer}}</span>
            </md-card-footer>

            <img ng-if="c.youtube" ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}" />
            <p ng-if="c.youtube">link: https://www.youtube.com/watch?v={{c.youtube}}</p>

        </md-card>
    </div>
</div>
