<!--(C) Ask Learn Share Ltd:-->
<h1 ng-if="section.display3" class="md-display-3">{{section.display3}}</h1>
<h2 ng-if="section.display2" class="md-display-2">{{section.display2}}</h2>
<h3 ng-if="section.display1" class="md-display-1">{{section.display1}}</h3>
<h4 ng-if="section.headline" class="md-headline">{{section.headline}}</h4>
<h5 ng-if="section.title" class="md-title">{{section.title}}</h5>
<h6 ng-if="section.subhead" class="md-subhead">{{section.subhead}}</h6>
<p ng-if="section.lead" class="md-display-1 als-lead">{{section.lead}}</p>
