<!--(C) Ask Learn Share Ltd -->
<style type="text/css">
    md-card-title-media {
        /* to correct Angular Material bug */
        margin-right: 1em !important;
    }

    md-card-title-media img {
        outline: #eee solid 7px;
        outline-offset: -7px;
    }
</style>


<div ng-switch="playlist.type" layout="column">
    <!-- typw xxx -->
    <div ng-switch-when="xxx">
        <!-- html  -->
    </div>

    <!-- default -->
    <div ng-switch-default>

        <ul>
            <li class="md-body-1" ng-repeat="c in playlist.videos">
                <span class="md-body-2">"{{c.title}}"</span> by {{c.artist}}
            </li>
        </ul>
        <md-content>
            <md-card ng-repeat="c in playlist.videos" ng-init="c.subhead=c.artist">

                <md-card-title ng-if="c.title">
                    <md-card-title-media>
                        <div class="md-media-md card-media crop">
                            <a href="https://www.youtube.com/watch?v={{c.youtube}}" target="_blank">
                                <img ng-src="{{'https://i.ytimg.com/vi/'+c.youtube+'/hqdefault.jpg'}}">
                            </a>
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-title">{{c.title}}</span>
                        <span ng-if="c.subhead" class="md-subhead">{{c.subhead}}</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content ng-if="c.lyrics">
                    <p class="md-body-1" ng-repeat="part in c.lyrics">
                        <span ng-repeat="line in part track by $index">
{{line}}
                            <br ng-if="!$last"/>
                        </span>
                    </p>
                </md-card-content>

                <md-card-footer ng-if="c.footer" layout="row" layout-align="{{playlist.footeralign}}">
                    <span>{{c.footer}}</span>
                </md-card-footer>

            </md-card>
        </md-content>
    </div>
</div>
