<!--(C) Ask Learn Share Ltd -->

<style type="text/css">
  zzdiv.als-list-capfirst div div:first-letter {
    text-transform: uppercase;
  }

  .singleline {
    text-align: center !important;
  }

  .singleline p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  zzp:first {
    margin-top: 0px;
  }

  zzp:last {
    /* check syntax */
    margin-top: 0px;
  }
</style>

<div ng-class="section.class" ng-init='
sectionMap = {
  "display-3": ["all", "display"],
  "display-2": ["all", "display"],
  "display-1": ["all", "display"],
  "headline" : ["all", "header"],
  "title" : ["all", "title"],
  "subhead" : ["all", "header", "title"],
  "tagline" : ["all", "header", "title"],
  "lead":["all", "lead"]
};
'>

<p>
  <pre>

  <h1 ng-if="section['display-3'] && sectionMap['display-3'].includes(subsection)" class="md-display-3">[3]{{section['display-3]'}}</h1>
  <h2 ng-if="section['display-2'] && sectionMap['display-2'].includes(subsection)" class="md-display-2">[2]{{section['display-2]'}}</h2>
  <h3 ng-if="section['display-1'] && sectionMap['display-1'].includes(subsection)" class="md-display-1">[1]{{section['display-1]'}}</h3>

  <div ng-if="true">
    <h4 ng-if="section.headline" class="md-headline">{{section.headline}}</h4>
    <h5 ng-if="section.title" class="md-title">{{section.title}}</h5>
    <h6 ng-if="section.subhead" class="md-subhead">{{section.subhead}}</h6>
  </div>

  <div ng-if="true">
    <p ng-if="section.lead" class="md-display-1 als-lead">{{section.lead}}</p>
  </div>

  <div ng-if="true" ng-switch="section.type" layout="column">

    <div ng-switch-when="dykt" class="dykt" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center" layout-wrap layout-padding>

        <!-- single -->
        <md-card ng-if="section.paragraph" ng-class="section.style" layout-align="center center" flex-gt-xs="45" flex-xs="auto">
          <md-card-content class="singleline">
            <p>{{section.paragraph}}</p>
          </md-card-content>
        </md-card>

        <!-- multiple -->
        <md-card ng-if="section.paragraphs" ng-repeat="p in section.paragraphs" ng-class="section.style" layout-align="center center" flex-gt-xs="45" flex-xs="auto">
          <md-card-content class="singleline">
            <p>{{p}}</p>
          </md-card-content>
        </md-card>

      </div>
    </div>

    <div ng-switch-default>
      <als-text-paragraphs data-section="section"></als-text-paragraphs>
    </div>

  </div>

  <!-- recursive sections -->
  <als-text-section ng-if="section.section" data-section="section.section"></als-text-section>
  <als-text-section ng-if="section.sections" ng-repeat="s in section.sections" data-section="s"></als-text-section>

</div>
