<!--(C) Ask Learn Share Ltd:-->
<style type="text/css">
    als-text-header {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        xxborder: 2px green solid;
        xxborder: 1px red solid;
    }

    .md-display2,
    .md-display1,
    .md-headline,
    .md-title,
    .md-subhead {
        margin-top: 0px !important;
        margin-bottom: 6px !important;
        xxborder: 1px blue solid;
    }
</style>





<!--(C) Ask Learn Share Ltd:-->
<h1 ng-if="object.display2" class="md-display-2">{{object.display2}}</h1>
<h2 ng-if="object.display1" class="md-display-1">{{object.display1}}</h2>
<h3 ng-if="object.headline" class="md-headline">{{object.headline}}</h3>
<h4 ng-if="object.title" class="md-title">{{object.title}}</h4>
<h5 ng-if="object.subhead" class="md-subhead">{{object.subhead}}</h5>
