<!--(C) Ask Learn Share Ltd -->

<style type="text/css">
  zzdiv.als-list-capfirst div div:first-letter {
    text-transform: uppercase;
  }

  .singleline {
    text-align: center !important;
  }

  .singleline p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  zzp:first {
    margin-top: 0px;
  }

  zzp:last {
    /* check syntax */
    margin-top: 0px;
  }

  .center-all * {
    text-align: center;
  }
</style>

<div ng-class="section.class" ng-init='
sectionMap = {
  "display-3": ["all", "display"],
  "display-2": ["all", "display"],
  "display-1": ["all", "display"],
  "headline": ["all", "allheaders", "header"],
  "title": ["all", "allheaders", "title"],
  "subhead": ["all", "allheaders", "header", "title"],
  "lead": ["all", "lead", "content"],
  "content":["all", "content"]
};
'>

  <h1 ng-if="section['display-3'] && sectionMap['display-3'].includes(subsection)" class="md-display-3">{{section['display-3']}}</h1>
  <h2 ng-if="section['display-2'] && sectionMap['display-2'].includes(subsection)" class="md-display-2">{{section['display-2']}}</h2>
  <h3 ng-if="section['display-1'] && sectionMap['display-1'].includes(subsection)" class="md-display-1">{{section['display-1']}}</h3>
  <h4 ng-if="section['headline'] && sectionMap['headline'].includes(subsection)" class="md-headline">{{section['headline']}}</h4>
  <h5 ng-if="section['title'] && sectionMap['title'].includes(subsection)" class="md-title">{{section['title']}}</h5>
  <h6 ng-if="section['subhead'] && sectionMap['subhead'].includes(subsection)" class="md-subhead">{{section['subhead']}}</h6>
  <p ng-if="section['lead'] && sectionMap['lead'].includes(subsection)" class="md-body-2 als-lead">{{section['lead']}}</p>

  <div ng-if="sectionMap['content'].includes(subsection)" layout="column">

    <div ng-switch="section.type">

      <div ng-switch-when="dykt" class="dykt" layout="column" layout-align="center center">
        <div layout="row" layout-align="center center" layout-wrap layout-padding>

          <!-- single -->
          <md-card ng-if="section.paragraph" ng-class="section.style" layout-align="center center" flex-gt-xs="45" flex-xs="auto">
            <md-card-content class="singleline">
              <p>{{section.paragraph}}</p>
            </md-card-content>
          </md-card>

          <!-- multiple -->
          <md-card ng-if="section.paragraphs" ng-repeat="p in section.paragraphs" ng-class="section.style" layout-align="center center" flex-gt-xs="45" flex-xs="auto">
            <md-card-content class="singleline">
              <p>{{p}}</p>
            </md-card-content>
          </md-card>

        </div>
      </div>

      <div ng-switch-default>
        <als-text-paragraphs data-section="section"></als-text-paragraphs>
      </div>

      <als-list-table-filtered ng-repeat="t in section.tables" data-table="t" data-cuts="cuts"></als-list-table-filtered>

    </div>

    <!-- recursive sections -->
    <als-text-section ng-if="section.section" data-section="section.section"></als-text-section>
    <als-text-section ng-if="section.sections" ng-repeat="s in section.sections" data-section="s"></als-text-section>

  </div>

</div>
