<!--(C) Ask Learn Share Ltd:-->
<style>
  .md-card-image {
    filter: drop-shadow(0px 0px 0px);
  }

  /*
  from https://codepen.io/avelone/pen/Lxgejp
  */

  .frame-square {
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
  }

  .frame-square img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
</style>

<div ng-repeat="c in cardset.cards">

  <md-card>

    <md-card-header>

      <md-card-avatar>
        <img class="md-user-avatar" src="{{cuts.ava + c.avatar}}">
      </md-card-avatar>

      <md-card-header-text>
        <als-text-section data-section="c"></als-text-section>
        <span class="md-title">{{c.title}}</span>
        <span class="md-subhead">{{c.subhead}}</span>
      </md-card-header-text>

    </md-card-header>

    <!-- not supposed to be within DIV -->
    <div ng-if="c.image" class="frame-square">
      <img ng-src="{{cuts.img + c.image}}" class="md-card-image" />
    </div>
    <!-- -->

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{c.headline}}</span>
        <span class="md-subhead">{{c.subhead}}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="start center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="icon">
          <md-icon md-svg-icon="icon"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>

    <md-card-content>
      <als-text-section data-section="c.section" data-subsection="'content'"></als-text-section>
    </md-card-content>

    <md-card-footer>
      <span>{{c.footer}}</span>
    </md-card-footer>

  </md-card>

</div>
