<!--(C) Ask Learn Share Ltd:-->

<div ng-if="cardset.search" layout="row" layout-align="end">
  <md-input-container>
    <md-icon>
      <i class="material-icons">search</i>
    </md-icon>
    <label>Search</label>
    <input ng-model="cardset.query" type="search" />
  </md-input-container>
</div>

<div layout="column" layout-align="center center">
  <als-text-section data-section="cardset" class="center-all"></als-text-section>
  <div layout="row" layout-align="center center" layout-wrap>

    <div ng-repeat="c in cardset.cards | filter: cardset.query" ng-class="cardset.style" flex flex-gt-sm="45">

      <als-text-section data-section="c" data-subsection="'title'" class="center-all"></als-text-section>

      <md-card>

        <md-card-header ng-if="c.avatar">

          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{cuts.ava + c.avatar}}">
            <img class="md-avatar" ng-src="{{cuts.ava + c.avatar}}">
          </md-card-avatar>

          <md-card-header-text layout="column" layout-align="start {{cardset.alignments.title}}">
            <als-text-section data-section="c.section" data-subsection="'allheaders'"></als-text-section>
          </md-card-header-text>

          <md-divider md-inset ></md-divider>

        </md-card-header>


        <md-card-title ng-if="c.media" layout="row" layout-align="space-between start">

          <md-card-title-media xxflex-order="20" ng-if="c.media">
            <div class="md-media-sm card-media">
              <img ng-src="{{cuts.thu + c.media}}" />
            </div>
          </md-card-title-media>

          <md-card-title-text layout="column" layout-align="start {{cardset.alignments.title}}">
            <als-text-section data-section="c.section" data-subsection="'allheaders'"></als-text-section>
          </md-card-title-text>

          <!-- start  -->
          <div ng-if="(cardset.expand || cardset.toclink)" xxflex-order="-20" ng-if="true" layout="column" layout-align="end center">
            <md-button ng-if="cardset.toclink" aria-label="expand" class="md-icon-button" ng-click="$parent.$parent.$parent.$parent.$parent.$parent.$parent.selectedIndex=$parent.$index;">
              <md-icon>
                <i class="material-icons">arrow_forward</i>
              </md-icon>
            </md-button>
            <div ng-if="false">
              a{{$parent.$parent.selectedIndex}} b{{$parent.$parent.$parent.selectedIndex}} c{{$parent.$parent.$parent.$parent.selectedIndex}} d{{$parent.$parent.$parent.$parent.$parent.selectedIndex}} e{{$parent.$parent.$parent.$parent.$parent.$parent.selectedIndex}}
              f{{$parent.$parent.$parent.$parent.$parent.$parent.$parent.selectedIndex}} k{{$index}} l{{$parent.$index}} m{{$parent.$parent.$index}} n{{$parent.$parent.$parent.$index}} o{{$parent.$parent.$parent.$parent.$index}}
            </div>
            <als-icon-fab-pair ng-if="cardset.expand" data-class="'md-icon-button'" data-toggle="c.cardOpen" data-icon1="'keyboard_arrow_down'" data-icon2="'keyboard_arrow_up'"> </als-icon-fab-pair>
          </div>
          <!-- end  -->

        </md-card-title>

        <div ng-hide="(cardset.expand && !c.cardOpen)">
          <md-card-content layout="column" layout-align="start center">
            <als-text-section data-section="c.section" data-subsection="'content'"></als-text-section>
          </md-card-content>

          <md-card-actions ng-if="c.button" layout="row" layout-align="end center">
            <md-button class="md-accent md-raised" ng-href="{{c.button.html}}" target="_blank">{{c.button.label}}</md-button>
          </md-card-actions>

          <md-card-footer ng-if="c.footer" layout="row" layout-align="{{cardset.alignments.footer}}">
            <span>{{c.footer}}</span>
          </md-card-footer>

        </div>
      </md-card>

    </div>

  </div>
</div>
