<!--(C) Ask Learn Share Ltd:-->
<style type="text/css">

</style>
4
<div layout="column" layout-align="start center">
  <h4 ng-if="list.header" class="md-title">{{cardset.header}}</h4>
    <md-card ng-repeat="c in cardset.cards" layout-margin>
        <p>
            {{c.title}}
        </p>
        <p ng-repeat="p in c.paragraphs">
            {{p}}
        </p>
        <div layout=row layout-align="end">
            <span class="md-caption">{{c.note}}</span>
        </div>
    </md-card>
</div>
