<!--(C) Ask Learn Share Ltd:-->

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: 600px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 900px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .translate-top {
    transform: translateY(-10%);
  }

  .translate-bottom {
    transform: translateY(10%);
  }
</style>

<md-content class="md-padding">

  <div class="container">

    <md-card ng-repeat="c in cardset.cards track by $index">

      <md-card-header ng-if="c.avatar">

        <md-card-avatar>
          <img class="md-user-avatar" src="{{cuts.ava + c.avatar}}">
        </md-card-avatar>

        <md-card-header-text>
          <als-text-selection data-object="c" data-filter="'alltitles'"></als-text-selection>
        </md-card-header-text>

      </md-card-header>

      <!-- not supposed to be within DIV -->
      <div ng-if="c.image" class="als-img-frame">
        <img ng-src="{{cuts.img + c.image}}" ng-class="['md-card-image', c.alignments.image]" />
        <div ng-if="cardset.alignments.overlay" class="als-text-overlay">
          <als-text-selection data-object="c" data-filter="'headline'"></als-text-selection>
        </div>
      </div>

      <!-- -->

      <md-card-title>

        <md-card-title-media ng-if="c.media">
          <div class="md-media-sm">
            <img ng-src="{{cuts.thu + c.media}}" />
          </div>
        </md-card-title-media>

        <md-card-title-text>
          <als-text-selection ng-if="!cardset.alignments.overlay" data-object="c" data-filter="'headline'"></als-text-selection>
          <als-text-selection data-object="c" data-filter="'subhead'"></als-text-selection>
          <als-text-selection data-object="c" data-filter="'lead'"></als-text-selection>
        </md-card-title-text>

      </md-card-title>

      <md-card-content ng-hide="(cardset.expand && !c.cardOpen)">
        <als-text-section data-section="c.section"></als-text-section>
      </md-card-content>

      <md-card-actions ng-if="c.button || cardset.expand" layout="row" layout-align="space-between center" layout-margin>
        <md-button flex ng-if="c.button"  class="md-accent md-raised" ng-href="{{c.button.html}}" target="_blank">{{c.button.label}}</md-button>
        <als-icon-fab-pair ng-if="cardset.expand" data-class="'md-icon-button'" data-toggle="c.cardOpen" data-icon1="'keyboard_arrow_down'" data-icon2="'keyboard_arrow_up'"> </als-icon-fab-pair>
      </md-card-actions>

      <md-card-footer ng-if="c.footer">
        <span>{{c.footer}}</span>
      </md-card-footer>

    </md-card>

  </div>

</md-content>
